.clientModal{
    background-color: var(--primary-white);
    border: 2px solid var(--primary-color);

    width: 130px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    gap: 20px;

    position: fixed;

    bottom: 10px;
    right: 10px;

    z-index: 6;

    box-shadow: 8px 8px var(--primary-color);
}
.clientModalTxt{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;

    color: var(--primary-color);
}
.clientModalBtn{
    text-decoration: none;

    border: none;
    outline: none;

    color: var(--primary-white);
    background-color: var(--primary-color);
    padding: 8px;

    border-radius: 8px;
    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.move{
    left: 2000px;

    transition: 0.3s ease-out;
}
.clientModalClose {
   font-size: 12px;

    color: var(--primary-color);

    cursor: pointer;
}

@media(width >= 1440px){
    .clientModal{
        background-color: var(--primary-white);
        border: 2px solid var(--primary-color);
    
        width: 230px;
        height: 250px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 20px;

        right: 20px;
        bottom: 20px;
    
        gap: 20px;
    }
    .clientModalBtn{
        width: 150px;
    }
        
}