.aboutContainer {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    margin: 0;
}
.background{
    height: 376px;
    width: 100%;
}
.aboutInfoContainer{    
    padding: 10px;
    margin-top: 80px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 30px;
}
.aboutLine{
    background-color: var(--primary-color);
}
.aboutTitle{
    font-size: 42px;
    font-weight: bolder;    
}
.aboutP{
    font-size: 18px;
    width: 80%;
    line-height: 1.5;
}
.background{
    height: 376px;

    margin-top: 30px;

    background-image: url('../../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media(width >= 1024px){
    .aboutContainer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 100vh;

        gap: 0;
    }
    .aboutInfoContainer{
        margin: 0;
        margin-left: 60px;

        width: 40%;
    }
    .background{
        width: 50%;
        height: 96.9%;
    }
}
@media(width >= 1440px){
    .aboutInfoContainer{
        margin: 0;
        margin-left: 250px;

        width: 40%;
    }
}