.greetingContainer {
    height: 300px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-evenly;

    padding: 10px;
    margin: 20px 10px 20px 10px;

    gap: 20px;
}
hr{
    width: 70px;
    height: 4px;
    background-color: var(--primary-grey);
    border: var(--primary-grey);

    margin: 0;
}
.greetingTitle {
    font-size: 38px;
    font-weight: bolder;

    display: flex;
    width:170px;
    
    color: var(--primary-color);
}
.greetingP {
    font-size: 18px;

    color: var(--primary-grey);

    margin-bottom: -20px;
}
.greetingBtn{
    text-decoration: none;

    color: var(--primary-white);
    background-color: var(--primary-color);

    padding: 10px;

    border: 2px solid var(--primary-color);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
}
@media (width >= 768px){
    .greetingTitle{
        width: 350px;
    }
}
@media(width >= 1024px){
    .greetingContainer{
        padding: 0;
        margin: 0;
        margin-left: 60px;

        gap: 30px;
    }
    .greetingTitle{
        width: 420px;
        font-size: 48px;
    }
    .greetingBtn{
        width: 165px;
    }
    .greetingBtn:hover{
        background-color: var(--primary-white);
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
}
@media(width >= 1440px){
    .greetingContainer{
        padding: 0;
        margin: 0;
        padding-left: 150px;

        gap: 30px;

        width: auto;
    }
}