.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    background-color: var(--primary-white);
    border-bottom: 3px solid var(--primary-color);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: +2;
}
.logoHeader{
    width: 100px;
}

.icon{
    width: 15px;
}
.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navListContainer{
    display: none;
}
@media(width >= 1024px){
    .headerContainer{
        height: 50px;

        border-bottom: 4px solid var(--primary-color);

        justify-content: center;

        gap: 70px;
    }
    .iconContainer{
        display: none
    }
    .title {
        color: var(--primary-white);
    
        font-size: 1.5rem;
    
        font-weight: bolder;
    }
    .icon{
        display: none;
    }   

    .navListContainer{
        display: flex;

        align-items: center;
        justify-content: space-evenly;

        gap: 20px;
    }
    .left, .right{
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .left{
        left: calc(50% - 300px);
    }
    .right{
        right: calc(50% - 260px);
    }
}
