.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    
    background-color: var(--primary-color);
    
    padding: 10px;
    
    margin-top: 62px;

    top: -40px;
    left: 0;
    right: 0;

    transition: 0.3s ease-in;

    z-index: +1;
}
.drop{
    transition: 0.3s ease-out;
    top: 0px;

}
.navLink{
    text-decoration: none;

    padding: 2px;

    cursor: pointer;

    transition: 0.2s;
}
.navTxt{
    font-size: 14px;

    color: var(--primary-white);
}