.navContainer{
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 10px;

}
.navLink{
    border-bottom: 2px solid var(--primary-color);

    padding: 2px;

    cursor: pointer;

    transition: 0.2s;

}
.navTxt{
    font-size: 14px;
    font-weight: bolder;
}

.navLink:hover{
    border-bottom: 2px solid var(--secondary-color);

    transition: 0.2s;
}