main{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;

    
    gap: 15px;
    
    margin: 0 auto;
    margin-bottom: 20px;
}

@media(width >= 375px){
    main{
        gap: 20px;
    }
}