.displayContainer{
    padding: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    gap: 30px;
}

.singleDisplayContainer{
    background-color: var(--primary-color);

    height: 440px;

    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;

    gap: 10px;
}
.displayTitle{
    margin-top: 80px;
    
    font-size: 42px;
    font-weight: bolder;    
}
.displayBackground{
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 40%;

    opacity: 60%;
}
.displayHead{
    font-size: 24px;
    
    color: var(--primary-white);
}
.displayLine{
    background-color: var(--primary-white);
}
.displayP{
    font-weight: bolder;
}
.displayMore{
    margin-top: 20px;

    text-decoration: none;

    color: var(--primary-white);
}
.displayDate{
    color: var(--secondary-color);
    font-size: 14px;
}
.displayInfoContainer{
    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 20px;
}
@media (width >= 1024px){
    .displayContainer{
        padding: 60px;
    }
    .displayInfoContainer{
        width: 50%;
    }
    .singleDisplayContainer{
       height: 700px;
       width: 100%;

       flex-direction: row;
       align-items: center;
       justify-content: space-between;

       padding: 0;
       gap: 0;
    }
    .displayBackground{
        width: 50%;
        height: 100%;
    }
    .displayHead{
        font-size: 42px;
    }
    .displayP{
        width: 200px;
    font-size: 22px;
    font-weight: normal;
    }
}
@media (width >= 1440px){
    .displayContainer{
        padding: 60px 250px;
    }
}