.classMainContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
}
.classTopContainer{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.mainClassContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;
}
@media(width >= 1024px){
    .classMainContainer{
        padding: 60px;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    
        gap: 30px;
    }
    .mainClassContainer{
        max-width: 1200px;
    }
}
@media(width >= 1440px){
    .classMainContainer{
        padding: 60px 250px;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    
        gap: 30px;
    }
}