.background{
    background-image: url('../../assets/blured-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 250px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;

    margin-top: 42px;
}
.logo{
    position: absolute;
    top: 0px;

    width: 250px;
    height: auto;

    margin-top: 30px;
}

@media(width >= 1024px){
    .background{
        height: 400px;

        margin-top: 42px;

    }
    .logo{
        width: 450px;
    }
}
@media(width >= 1440px){
    .background{
        height: 500px;

        margin-top: 42px;
    }
    .logo{
        width: 550px;

        margin-top: 70px;
    }
}