.newsContainer{
    background-size: cover;
    background-position: center;

    height: 376px;

    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 64px;
    text-decoration: none;
    gap: 30px;
}
.topTxt{
    width: 250px;
}
.bottomTxt{
    width: 150px;
}
.newsContainer > h1 {
    color: black;

    position: absolute;

    top: 100px;
    left: 10px;

    font-size: 48px;
}
.newsButton{
    position: absolute;

    top: 168px;

    filter: brightness(1000%) grayscale(100%);
}
.newsVideo{
    height: 376px;
}
.playIcon{
    width: 50px;
}
@media(width >= 768px){
    .topTxt{
        width: 350px;
    }
    .bottomTxt{
        width: 175px;
    }
}
@media(width >= 1024px){
    .newsContainer{
       background-size: cover;
    background-position: center;

    height: 400px;

    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 64px;
    text-decoration: none;
    gap: 30px;
}
    
    .newsContainer > h1 {
        color: black;

        position: absolute;

        top: 150px;
        left: inherit;

        font-size: 60px;

        z-index: 1;
    }
}
