:root{
    --primary-color: #9e2a33;
    --primary-red: #ff4352;
    --secondary-color: #b7acb4;
    --primary-grey: #474346;

    --primary-white: #ffffff;
    --primary-black: #000000;

    font-family: 'Roboto', sans-serif;
}

